<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
	<meta charset="UTF-8">
 	<title>Sávio Berdine</title>
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
	<prato>
		<p align="center"><img class="savioImg" src="{% static 'img/savio.png' %}"></p>
		<h1 class="nome">Sávio Berdine</h1>
	</prato>

	
</head>

<body>
  
	<nav id="menu">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/files">Files</a></li>
        <li><a href="/social">Social</a></li>
    </ul>
	</nav>

	<nav id="files">
    <ul class="files">
        <li><a href="Relogio_V3.rar">Relogio_V3</a></li>
        <li><a href="Relogio_V4.rar">Relogio_V4</a></li>
        <li><a href="verilog.txt">Verilog</a></li>
    </ul>
	</nav>

 	<script type="text/javascript" src="assets/js/script.js"></script>
</body>

</html>